
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/ContaPagarIndex.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <h1>Lista de contas a pagar</h1>
        <h3>@ViewBag.ContaPagar</h3>
    </div>
    <a href="/contapagar/cadastro">Novo Registro</a>
    <form action="/contapagar/index" method="get">
        <label for="campo-pesquisa">Pesquisa</label>
        <input type="text" id="campo-pesquisa" name="pesquisa" />
    </form>
    <div>
        <table class="tabela">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Tipo</th>
                    <th>Estatus</th>
                    <th>Ação</th>
                </tr>
            </thead>
                <tbody>
                    @for(int i = 0; i < ViewBag.ContasPagar.Count; i++)
                    {
                        <tr>
                            <td>@ViewBag.ContasPagar[i].Id</td>
                            <td>@ViewBag.ContasPagar[i].Nome</td>
                            <td>@ViewBag.ContasPagar[i].Valor</td>
                            <td>@ViewBag.ContasPagar[i].Tipo</td>
                            <td>@ViewBag.ContasPagar[i].Estatus</td>
                            <td>
                                <a href="/contapagar/editar?id=@ViewBag.ContasPagar[i].Id">Editar</a>
                                <a href="/contapagar/apagar?id=@ViewBag.ContasPagar[i].Id">Apagar</a>
                            </td>                            
                        </tr>
                    }
                </tbody>
        </table>
    </div>
</body>
</html>
